button {
  border-radius: 6px;
  margin: 10px;
  padding-top: 3px;
}

input {
  padding-top: 5px;
  font-size: 25px;
  width: 65px;
}

.info {
  background-color: blanchedalmond;
  border-radius: 21px;
  width: 6%;
}
