<div class="container">
    <div class="row">
        <button type="submit" class="btn btn-outline-primary">Ordenar alfabèticament</button>
        <button type="submit" class="btn btn-outline-success">Ordenar per data</button>
        <button type="submit" class="btn btn-outline-info">Reinicialitzar ordre</button>
        <div class="col">
            {{indice + 1}}) Nom pressupost: {{cliente.nomPresupost}}; Client: 
            {{cliente.client}}; Preu servei: {{cliente.preuFinal}}.
        </div>
    </div>
</div>
