<div class="container">
  <div class="row">
    <p>¿Que vols fer?</p>
      <form [formGroup]="form" novalidate>
        <div *ngFor="let product of products; let i=index">
          <input type="checkbox" name="{{product.price}}" id="{{product.id}}"
          (change)="onCheckboxChange($event)">{{product.name}}
          <app-component-panell (addPage)="addItemPage($event)" 
                                (addLanguage)="addItemLanguage($event)"
                                (restPage)="restItemPage($event)" 
                                (restLanguage)="restItemLanguage($event)"
                                (newItemEvent)="itemPanell($event)" 
                                *ngIf="paginaWeb && product.id === 0">
          </app-component-panell>
        </div>
      </form>
      <p id="frasePreu"></p>
    <p>{{preu}} {{this.total}} €.</p>
    <div class="col-md-2">
      <button (click)="onClicked()" class="btn btn-primary">Aceptar</button>
    </div>
  </div>
</div>